NEXT_PUBLIC_API_BASE_URL=http://localhost:4000

# Selendra Network
NEXT_PUBLIC_SELENDRA_RPC_URL=https://rpc-testnet.selendra.org
NEXT_PUBLIC_CHAIN_ID=1961

# DEX Contract Addresses
NEXT_PUBLIC_POOL_MANAGER_ADDRESS=0x4eDF801c0F49fC574354D3f3753F327CbBD0138d
NEXT_PUBLIC_STATE_VIEW_ADDRESS=0xd73cdB42f8fB2fdA41c54eCF39e9B739115d31fD
NEXT_PUBLIC_LIQUIDITY_MANAGER_ADDRESS=0xDa7aB1ae8F0a2DD80d0dce18b0979711886B244C
NEXT_PUBLIC_SWAP_ROUTER_ADDRESS=0xf06fd13a4F90f9447ba067a3f176aa240A01AAc9